<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }} - SHAWA</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400&display=swap"
          rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>SHAWA</h1>
            <nav>
                <a href="/">Главная</a>
                <a href="/cart/">Корзина 🛒</a>
            </nav>
        </div>
    </header>

    <main>
        <div class="product-detail">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-detail-image">
            <div class="product-detail-info">
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <p class="product-price">{{ product.price }} ₽</p>
                <form action="{% url 'add_to_cart' product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="add-to-cart-button">Добавить в корзину</button>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 SHAWA</p>
    </footer>
</body>
</html>